<script type="text/javascript">
  function changeFocus(pos) {
  	if(pos==1) { 
  		document.getElementById("youtube").src="//www.youtube.com/embed/1C2bJ6_9QxQ?wmode=opaque" ;
  		document.getElementById("youtube_01").src='<%= asset_path("page_tab/CQDS/tvc_c.jpg") %>' ;
    	document.getElementById("youtube_02").src='<%= asset_path("page_tab/CQDS/not.jpg") %>' ;
  		document.getElementById("youtube_03").src='<%= asset_path("page_tab/CQDS/not.jpg") %>' ;
    }
    else if(pos==2) {
    	document.getElementById("youtube").src="//www.youtube.com/embed/pOZgnkEPxJc?wmode=opaque" ;
    	document.getElementById("youtube_01").src='<%= asset_path("page_tab/CQDS/tvc.jpg") %>' ;
    	document.getElementById("youtube_02").src='<%= asset_path("page_tab/CQDS/tvc_c.jpg") %>' ;
  		document.getElementById("youtube_03").src='<%= asset_path("page_tab/CQDS/not.jpg") %>' ;
  	} else if(pos==3) {
  		document.getElementById("youtube").src="//www.youtube.com/embed/pOZgnkEPxJc?wmode=opaque" ;
  		document.getElementById("youtube_01").src='<%= asset_path("page_tab/CQDS/tvc.jpg") %>' ;
    	document.getElementById("youtube_02").src='<%= asset_path("page_tab/CQDS/not.jpg") %>' ;
  		document.getElementById("youtube_03").src='<%= asset_path("page_tab/CQDS/tvc_c.jpg") %>' ;	
  	}
  }
</script>

<div class="cqds_wrap">
	<!--background -->	
	<div class="cqds_youtube">
		<div class="cqds_youtube_select">
			<ul class="youtube_select_button">
				<li class="youtube_select_button01">
					<img id='youtube_01' src='<%= asset_path("page_tab/CQDS/tvc_c.jpg") %>' onclick='changeFocus(1);'/> </li>
				<li class="youtube_select_button02">
					<img src='<%= asset_path("page_tab/CQDS/not.jpg") %>' id='youtube_02' onclick='changeFocus(2);'/> </li>
				<li class="youtube_select_button03">
					<img src='<%= asset_path("page_tab/CQDS/not.jpg") %>' id='youtube_03' onclick='changeFocus(3);'/> </li>
			</ul>
		</div>
		<div class="cqds_youtube_view">
			<iframe id="youtube" width="557" height="309" src="//www.youtube.com/embed/1C2bJ6_9QxQ?wmode=opaque" frameborder="0" allowfullscreen></iframe>
		</div>

		<div class="cqds_donate">
			<a href="#" id="event_popup"> 
        <%= image_tag "page_tab/CQDS/donation.jpg" %>
      </a> 
			
		</div>
	</div>
	<div class="cqds_down_field">
		<ul class="down_select_button">
				<li class="down_select_button01">
					<%= image_tag "page_tab/CQDS/ring.png" %> 
        </li>
				<li class="down_select_button02">
					<%= image_tag "page_tab/CQDS/notify.png" %>
        </li>
		</ul>
	</div>	
</div>

<div id="pop_start" class="modal" style="display:none;">
	<a href="#" rel="modal:close"><img width="38" height="36" src='<%= asset_path("page_tab/CQDS/Popup/close.png") %>'style="float:right;"></a>
	<div class="popup1_check">
		<a href="#" id="game_result" >
      <%= image_tag "page_tab/CQDS/Popup/check.png" %>
    </a> 	
	</div>	
</div>

<div id="pop_fail" class="modal_fail" style="display:none;">
	<a href="#" rel="modal:close"><img width="38" height="36" src='<%= asset_path("page_tab/CQDS/Popup2/close.png") %>'style="float:right;"/></a>
	<div class="popup2_check">
		<a href="#" rel="modal:close">
      <%= image_tag "page_tab/CQDS/Popup2/check.png" %>
    </a> 	
	</div>	
</div>
<div id="pop_success" class="modal_success" style="display:none;">
<!-- <div id="pop_success"> -->
	<a href="#" rel="modal:close">
    <%= image_tag("page_tab/CQDS/Popup3/close.png", width: "38", height: "36", style: "float: right;") %>
  </a>
  <!-- <form id="edit_winner"> -->
    <% unless current_user.nil? %>
    	<%= simple_form_for @user, html:{id: "edit_winner"} do |f| %>
        <!-- <input type="hidden" name="id" id="user[id]" value="<%= current_user.id%>"> -->
        <%= f.input :id, as: :hidden, value: @user.id %>
        <div class="name">
          <!-- <input type="text" name="name", id="user[name]" style="padding: 2px 2px 2px 2px; width:278px; height:22px; font-size:13pt;"> -->
          <%= f.input :name, input_html: {style: "padding: 2px 2px 2px 2px; width:278px; height:22px; font-size:13pt;"}, label: false%>
      	</div>
      	<div class="phone">
      		<ul class="phone_ul">
      				<li class="phone_first"> 
                <input type="text" id="phone1" name="phone1"  onKeyPress="if ((event.keyCode < 48) || (event.keyCode > 57)){event.returnValue = false;};" maxlength="4" style="font-size:13pt; padding: 2px 2px 2px 2px; width:75px; height:22px; " >
              </li> 
      				<li class="phone_middle"> 
                <input type="text" id="phone2" name="phone2" onKeyPress="if ((event.keyCode < 48) || (event.keyCode > 57)){event.returnValue = false;};" maxlength="4" style="font-size:13pt; padding: 2px 2px 2px 2px; width:74px; height:22px; "> 
              </li>
      				<li class="phone_last">
                <input type="text" id="phone3" name="phone3" onKeyPress="if ((event.keyCode < 48) || (event.keyCode > 57)){event.returnValue = false;};"  maxlength="4" style="font-size:13pt; padding: 4px 2px 2px 2px; width:81px; height:22px;">
              </li>
      		</ul>
      	</div>
      	<div class="check">
      			<div class= "check_inner_agree">
                <input type="checkbox" class="info_check" value="agree" name="user_info_check">
      			</div>
      			<div class= "provision_button">
              <a href="https://www.crown.co.kr/member/pop_private.asp" target="_blank">
                <%= image_tag "page_tab/CQDS/Popup3/content.png" %>
              </a>
      			</div>
      	</div>
      	<div class="popup3_check">
          <%= image_submit_tag("page_tab/CQDS/Popup3/check.png", class: "button", id: "winner_submit") %>
          <!-- <a href="#" rel="modal:close" id="winner_submit">
            <%#= image_tag "page_tab/CQDS/Popup3/check.png" %>
          </a>    -->
      	</div>
      <% end %>
  <% end %>
</div>
