<script type="text/javascript">
  function changeFocus(pos) {
  	if(pos==1) { 
  		document.getElementById("youtube").src="//www.youtube.com/embed/1C2bJ6_9QxQ?feature=player_detailpage" ;
  		document.getElementById("youtube_01").src='<%= asset_path("page_tab/CQDS/tvc_c.jpg") %>' ;
    	document.getElementById("youtube_02").src='<%= asset_path("page_tab/CQDS/not.jpg") %>' ;
  		document.getElementById("youtube_03").src='<%= asset_path("page_tab/CQDS/not.jpg") %>' ;
    }
    else if(pos==2) {
    	document.getElementById("youtube").src="//www.youtube.com/embed/pOZgnkEPxJc?wmode=opaque" ;
    	document.getElementById("youtube_01").src='<%= asset_path("page_tab/CQDS/tvc.jpg") %>' ;
    	document.getElementById("youtube_02").src='<%= asset_path("page_tab/CQDS/tvc_c.jpg") %>' ;
  		document.getElementById("youtube_03").src='<%= asset_path("page_tab/CQDS/not.jpg") %>' ;
  	} else if(pos==3) {
  		document.getElementById("youtube").src="//www.youtube.com/embed/pOZgnkEPxJc?wmode=opaque" ;
  		document.getElementById("youtube_01").src='<%= asset_path("page_tab/CQDS/tvc.jpg") %>' ;
    	document.getElementById("youtube_02").src='<%= asset_path("page_tab/CQDS/not.jpg") %>' ;
  		document.getElementById("youtube_03").src='<%= asset_path("page_tab/CQDS/tvc_c.jpg") %>' ;	
  	}
  } 
  
</script>


<div class="cqds_wrap">
	<!--background -->
	
	<div class="cqds_youtube">
		<div class="cqds_youtube_select">
			<ul class="youtube_select_button">
				<li class="youtube_select_button01">
					<img id='youtube_01' src='<%= asset_path("page_tab/CQDS/tvc_c.jpg") %>' onclick='changeFocus(1);'/> </li>
				<li class="youtube_select_button02">
					<img src='<%= asset_path("page_tab/CQDS/not.jpg") %>' id='youtube_02' onclick='changeFocus(2);'/> </li>
				<li class="youtube_select_button03">
					<img src='<%= asset_path("page_tab/CQDS/not.jpg") %>' id='youtube_03' onclick='changeFocus(3);'/> </li>
			</ul>
		</div>
		<div class="cqds_youtube_view">
			<iframe id="youtube" width="557" height="309" src="//www.youtube.com/embed/1C2bJ6_9QxQ?feature=player_detailpage" frameborder="0" allowfullscreen></iframe>
		</div>

		<div class="cqds_donate">
			<a href="#ex1" rel="modal:open"> <img src='<%= asset_path("page_tab/CQDS/donation.jpg") %>'/></a>
		</div>
	</div>
	<div class="cqds_down_field">
		<ul class="down_select_button">
				<li class="down_select_button01">
					<%= image_tag asset_path("page_tab/CQDS/ring.png") %> </li>
				<li class="down_select_button02">
					<%= image_tag asset_path("page_tab/CQDS/notify.png") %></li>
		</ul>
	</div>	
</div>

<div class="modal" id="ex1" style="display:none;">
  <p>Thanks for clicking.  That felt good.  <br />Click <a href="#" rel="modal:close">close</a>, click the overlay, or press ESC</p>
</div>

<!--
<>div class="wrap_">
<div class="title">
<div class="tt">
댓글로 기부를!
</div>

<div class="num clearfix">
<%= raw number_to_big_image_tag(Hero.registerd_heroes_count) %>
</div>
</div><!--start:character _block-->
<!--end:character _block--><!--start:movie _block-->
<!--
<div class="youtube">
<iframe width="580" height="357"
src="//www.youtube.com/embed/pOZgnkEPxJc?wmode=opaque" frameborder="0" allowfullscreen></iframe>
</div><!--end:movie _block--><!--start:btn_block-->
<!--
<div class="btn_block">
<p class="btn_comment">
<%= link_to image_tag("page_tab/btn_comment.jpg"), nil, {title: "영웅의 한마디 남기기", id: "comment_open"} %>
</p>
</div><!--end:btn_block-->
<!--start:status-->
<!--
<div class="status_block">
<div class="txt">
<%= image_tag "page_tab/txt_status.jpg" %>
</div>
<div class="status clearfix">
<ul class="s_first clearfix">
<!--txt_block-->
<!--
<%=raw render_a_box_group("first",box_set(@count)[0]) %>
<li class="txt_block">
<%= image_tag "page_tab/status/1000_01.jpg" %>
</li>
</ul>
<ul class="s_second clearfix">
<!--txt_block-->
<!--
<%=raw render_a_box_group("second",box_set(@count)[1]) %>
<li class="txt_block">
<%= image_tag "page_tab/status/3000_01.jpg" %>
</li>
</ul>
<ul class="s_third clearfix">
<li class="cross">
<%= image_tag "page_tab/status/cross_blank.jpg" %>
</li>
<%=raw render_a_box_group("third",box_set(@count)[2]) %>
<!-- 40-->
<!--txt_block-->
<!--
<li class="txt_block">
<%= image_tag "page_tab/status/6000_01.jpg" %>
</li>
</ul>
</div>
</div>
<!--end:status-->
<!--start:comment list--><!--
<div class="comment_list_block">
<% @wall_posts.each do |wall_post| %>
<!--start:comment_one--><!--
<div class="comment_one clearfix">
<div class="img">
<%= image_tag wall_post.user.profile_image unless wall_post.user.nil? %>
</div>
<div class="txt_block">
<p class="name">
<%= wall_post.user.name unless wall_post.user.nil? %>
</p>
<p class="txt">
<%= simple_format(wall_post.message) %>
</p>
</div>
</div><!--end:comment_one--><!--
<% end %>
<div class="paginate">
<%= paginate @wall_posts %>
</div>
</div><!--end:comment list--><!--
<div class="txt_bottom">
<%= image_tag "page_tab/txt_bottom.jpg", border: "0", usemap: "#map" %>
<map name="map" id="map">
<area shape="rect" coords="507,98,636,123" href="http://miracle365.org" target="_blank" />
<area shape="rect" coords="111,123,222,152" href="http://www.miraclehospital.org/side/privacy.asp" target="_blank" />
</map>

<!-- 홈페이지 바로가기-->

<!--
</div>
</div>
<div class="pop_wrap" id="comment_complete_popup">
<div class="pop_comment_complete">
<a href="#" class="btn_close b-close" id="comment_close">Close</a>
<a href="#" class="btn_ok b-close" id="comment_complete_ok_btn">ok</a>
</div>
</div>
<div class="pop_wrap" id="comment_invalid_popup">
<div class="pop_comment_invalid">
<a href="#" class="btn_close b-close" id="comment_close">Close</a>
<a href="#" class="btn_ok b-close" id="comment_invalid_ok_btn">ok</a>
</div>
</div>
<div class="pop_wrap" id="comment_popup">
<div class="pop_comment">
<a href="#" class="btn_close b-close" id="comment_close">Close</a>
<%= simple_form_for [:page_tab, @wall_post], html:{id:"new_page_tab_wall_post"} do |f| %>
<%= f.input :message, input_html: {class: "input_comment"}, label: false, required: false%>
<%= image_submit_tag("page_tab/pop/btn_comment.png", class: "button", id: "comment_submit") %>
<% end %>
<!-- <a href="#" class="btn_ok">OK</a> -->
<!-- </div>
<!-- e:pop_comment-->
<!--</div>
<!-- e:pop_wrap-->
