<script type="text/javascript">
  function changeFocus(pos) {
  	if(pos==1) { 
  		document.getElementById("youtube").src="//www.youtube.com/embed/hAa0OTP9eWE?wmode=opaque" ;
  		document.getElementById("youtube_01").src='<%= asset_path("page_tab/CQDS/tvcf_c.png") %>' ;
    	document.getElementById("youtube_02").src='<%= asset_path("page_tab/CQDS/interview.png") %>' ;
    }
    else if(pos==2) {
    	document.getElementById("youtube").src="//www.youtube.com/embed/EYhliYh3fC4?wmode=opaque" ;
    	document.getElementById("youtube_01").src='<%= asset_path("page_tab/CQDS/tvcf.png") %>' ;
    	document.getElementById("youtube_02").src='<%= asset_path("page_tab/CQDS/interview_c.png") %>' ;
  	}
  }
</script>

<div class="cqds_wrap">
	<!--background -->	
	<div class="cqds_youtube">
		<div class="cqds_youtube_select">
			<ul class="youtube_select_button">
				<li class="youtube_select_button01">
					<img id='youtube_01' src='<%= asset_path("page_tab/CQDS/tvcf_c.png") %>' onclick='changeFocus(1);'/> 
        </li>
				<li class="youtube_select_button02">
					<img src='<%= asset_path("page_tab/CQDS/interview.png") %>' id='youtube_02' onclick='changeFocus(2);'/> 
        </li>
			</ul>
		</div>
		<div class="cqds_youtube_view">
			<iframe id="youtube" width="557" height="309" src="//www.youtube.com/embed/hAa0OTP9eWE?wmode=opaque" frameborder="0" allowfullscreen></iframe>
		</div>
		<div class="cqds_donate">
      <p id="total_donations" class="donation_count">
        현재 <%= number_with_delimiter(Donation.count * 100)|| 0 %>원 적립
      </p>
			<a href="#" id="event_popup"> 
        <%= image_tag "page_tab/CQDS/donation.jpg" %>
      </a> 
		</div>
	</div>
	<div class="cqds_down_field">
		<ul class="down_select_button">
				<li class="down_select_button01">
          <a href="<%= download_coloring_path %>" class="coloring">
					  <%= image_tag "page_tab/CQDS/ring.png" %> 
          </a>
        </li>
				<li class="down_select_button02">
          <a href="<%= download_bizring_path %>" class="alram">
            <%= image_tag "page_tab/CQDS/notify.png" %>
          </a>
        </li>
		</ul>
	</div>	
</div>

<div id="pop_start" class="modal_start" style="display:none;">
	<a href="#" rel="modal:close">
    <%= image_tag "page_tab/CQDS/Popup/close.png", class: "popup_close"%>
  </a>
	<div class="popup1_check">
		<a href="#" id="game_result" >
      <%= image_tag "page_tab/CQDS/Popup/check.png" %>
    </a> 	
	</div>	
</div>

<div id="pop_fail" class="modal_fail" style="display:none;">
	<a href="#" rel="modal:close">
    <% image_tag "page_tab/CQDS/Popup2/close.png", class: "popup_close" %>
  </a>
	<div class="popup2_check">
		<a href="#" rel="modal:close">
      <%= image_tag "page_tab/CQDS/Popup2/check.png" %>
    </a> 	
	</div>	
</div>
<div id="pop_congratulation" class="modal_congratulation" style="display:none;">
	<a href="#" rel="modal:close">
    <% image_tag "page_tab/CQDS/Popup2/close.png", class: "popup_close" %>
  </a>
	<div class="popup2_check">
		<a href="#" rel="modal:close">
      <%= image_tag "page_tab/CQDS/Popup_congratulation/check.png" %>
    </a> 	
	</div>	
</div>

<div id="pop_limit" class="modal_limit" style="display:none;">
	<a href="#" rel="modal:close">
    <% image_tag "page_tab/CQDS/Popup2/close.png", class: "popup_close" %>
  </a>
	<div class="popup2_check">
		<a href="#" rel="modal:close">
      <%= image_tag "page_tab/CQDS/Popup_limit/check.png" %>
    </a> 	
	</div>	
</div>
<div id="pop_success" class="modal_success" style="display:none;">
	<a href="#" rel="modal:close">
    <% image_tag "page_tab/CQDS/Popup3/close.png", class: "popup_close" %>
  </a>
  	<%= simple_form_for @user, html:{id: "edit_winner"} do |f| %>
      <%= f.input :uid, as: :hidden, value: @user.uid %>
      <%= hidden_field_tag :access_token, value: @user.token.access_token unless @user.token.nil? %>
      <div class="name">
        <%= f.input :name, input_html: {style: "padding: 2px 2px 2px 2px; width:278px; height:22px; font-size:13pt;"}, label: false %>
    	</div>
    	<div class="phone">
    		<ul class="phone_ul">
    				<li class="phone_first"> 
              <input type="text" id="phone1" name="phone1"  onKeyPress="if ((event.keyCode < 48) || (event.keyCode > 57)){event.returnValue = false;};" maxlength="4" style="font-size:13pt; padding: 2px 2px 2px 2px; width:75px; height:22px; " >
            </li> 
    				<li class="phone_middle"> 
              <input type="text" id="phone2" name="phone2" onKeyPress="if ((event.keyCode < 48) || (event.keyCode > 57)){event.returnValue = false;};" maxlength="4" style="font-size:13pt; padding: 2px 2px 2px 2px; width:74px; height:22px; "> 
            </li>
    				<li class="phone_last">
              <input type="text" id="phone3" name="phone3" onKeyPress="if ((event.keyCode < 48) || (event.keyCode > 57)){event.returnValue = false;};"  maxlength="4" style="font-size:13pt; padding: 4px 2px 2px 2px; width:81px; height:22px;">
            </li>
    		</ul>
    	</div>
    	<div class="check">
    			<div class= "check_inner_agree">
              <input type="checkbox" class="info_check" value="agree" name="user_info_check">
    			</div>
    			<div class= "provision_button">
            <a href="https://www.crown.co.kr/member/pop_private.asp" target="_blank">
              <%= image_tag "page_tab/CQDS/Popup3/content.png" %>
            </a>
    			</div>
    	</div>
    	<div class="popup3_check">
        <%= image_submit_tag("page_tab/CQDS/Popup3/check.png", class: "button", id: "winner_submit") %>
    	</div>
    <% end %>
</div>
<div class="fb-comments" data-href="https://cqds.minivertising.kr/" data-width="810" data-numposts="15" data-colorscheme="light"></div>
