<script type="text/javascript">
  function changeFocus(pos) {
  	if(pos==1) { 
  		document.getElementById("youtube").src="//www.youtube.com/embed/hAa0OTP9eWE?wmode=opaque" ;
  		document.getElementById("youtube_01").src='<%= asset_path("page_tab/CQDS_Mobile/tvcf_c.png") %>' ;
    	document.getElementById("youtube_02").src='<%= asset_path("page_tab/CQDS_Mobile/interview.png") %>' ;
    }
    else if(pos==2) {
    	document.getElementById("youtube").src="//www.youtube.com/embed/lO18Q7qkCRM?wmode=opaque" ;
    	document.getElementById("youtube_01").src='<%= asset_path("page_tab/CQDS_Mobile/tvcf.png") %>' ;
    	document.getElementById("youtube_02").src='<%= asset_path("page_tab/CQDS_Mobile/interview_c.png") %>' ;
  	}
  }
</script>
<style>
.modal {
  opacity:1.0; 
  width: 579px; 
  height: 364px;
  display: none;
  background: url('<%= asset_path("page_tab/CQDS_M/Popup/back.png") %>') no-repeat 0 0;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -o-border-radius: 8px;
  -ms-border-radius: 8px;
  border-radius: 8px;
  -webkit-box-shadow: 0 0 10px #000;
  -moz-box-shadow: 0 0 10px #000;
  -o-box-shadow: 0 0 10px #000;
  -ms-box-shadow: 0 0 10px #000;
  box-shadow: 0 0 10px #000;
 }
 
.modal_fail {
  opacity:1.0; 
  width: 579px; 
  height: 537px;
  display: none;
  background: url('<%= asset_path("page_tab/CQDS_M/Popup2/back.png") %>') no-repeat 0 0;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -o-border-radius: 8px;
  -ms-border-radius: 8px;
  border-radius: 8px;
  -webkit-box-shadow: 0 0 10px #000;
  -moz-box-shadow: 0 0 10px #000;
  -o-box-shadow: 0 0 10px #000;
  -ms-box-shadow: 0 0 10px #000;
  box-shadow: 0 0 10px #000;
 } 
 
.modal_success {
  opacity:1.0; 
  width: 564px; 
  height: 882px;
  display: none;
  background: url('<%= asset_path("page_tab/CQDS_M/Popup3/back.png") %>') no-repeat 0 0;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -o-border-radius: 8px;
  -ms-border-radius: 8px;
  border-radius: 8px;
  -webkit-box-shadow: 0 0 10px #000;
  -moz-box-shadow: 0 0 10px #000;
  -o-box-shadow: 0 0 10px #000;
  -ms-box-shadow: 0 0 10px #000;
  box-shadow: 0 0 10px #000;
 }  
 
.modal a.close-modal {
  display: none;
}

.modal-spinner {
  display: none;
}
.popup1_check{
  width: 312px;
  margin: 0 auto;
  padding-top: 236px;
}

.popup2_check{
  width: 312px;	
  margin: 0 auto;
  padding-top: 404px;
  outline:none; 
}
.popup3_check{
  width: 312px;
  margin: 0 auto;
  margin-top: 365px;
  outline:none; 
}

.name {
	padding-top: 252px;
	padding-left: 172px;	
	width: 241; height: 42px;
}

.phone {
	padding-top: 16px;
}
.phone_ul{
	padding-left: 173px;
}
input[type=checkbox]
{
  /* Double-sized Checkboxes */
  -ms-transform: scale(1.5); /* IE */
  -moz-transform: scale(1.5); /* FF */
  -webkit-transform: scale(1.5); /* Safari and Chrome */
  -o-transform: scale(1.5); /* Opera */
}

</style>

<div class="header">
  <%= image_tag "page_tab/CQDS_Mobile/1.png", class: "header" %>
</div>

<div class="mobile2-1">
	<img src='<%= asset_path("page_tab/CQDS_Mobile/2-1.png") %>'/>
</div>
<div class="mobile2-2" style="width: 100%;" >
	<table>
		<tr>
			<td> <img id='youtube_01' src='<%= asset_path("page_tab/CQDS_Mobile/tvcf_c.png") %>' onclick='changeFocus(1)'; style="width: 100%; max-width: 320px;"></td>
			<td> <img id='youtube_02' src='<%= asset_path("page_tab/CQDS_Mobile/interview.png")  %>'onclick='changeFocus(2)' style="width: 100%; max-width: 320px;"</td>
		</tr>
	</table>
</div> 
<div class="mobile2-3">
	<img src='<%= asset_path("page_tab/CQDS_Mobile/2-3.png") %>'/>
</div>
<div style="width: 100%;">
  <div class="mobile3">
			<iframe id="youtube" src="//www.youtube.com/embed/hAa0OTP9eWE?wmode=opaque" frameborder="0" allowfullscreen ></iframe> 
  </div>
</div>


<div class="mobile4-1">
	<img src='<%= asset_path("page_tab/CQDS_Mobile/4-1.png") %>'/>
</div>
<div class="mobile4-2" style="width: 100%;" >
	<table>
		<tr>
			<td>
        <img src='<%= asset_path("page_tab/CQDS_Mobile/4-2-1.png") %>' />
      </td>
			<td> 
        <a href="#pop_start" id="popup1" rel="modal:open"> 
          <img src='<%= asset_path("page_tab/CQDS_Mobile/4-2-2.png") %>'>
        </a> 
      </td>
			<td> 
        <img src='<%= asset_path("page_tab/CQDS_Mobile/4-2-3.png") %>'>
      </td>
		</tr>
	</table>
</div> 
<div class="mobile4-3">
	<img src='<%= asset_path("page_tab/CQDS_Mobile/4-3.png") %>'/>
</div>
<div class="mobile5">
	<table>
		<tr>
			<td> <img src='<%= asset_path("page_tab/CQDS_Mobile/5-1.png") %>' style="width: 100%; max-width: 320px;"></td>
			<td> <img src='<%= asset_path("page_tab/CQDS_Mobile/5-2.png")  %>' style="width: 100%; max-width: 320px;"</td>
		</tr>
	</table>
</div>
<div class="mobile6">
	<img src='<%= asset_path("page_tab/CQDS_Mobile/6.png") %>'/>
</div>


<div id="pop_start" class="modal" style="display:none;">
	<a href="#" rel="modal:close"><img width="58" height="56" src='<%= asset_path("page_tab/CQDS_M/Popup/close.png") %>'style="float:right;"></a>
	<div class="popup1_check">
		<a href="#pop_fail" rel="modal:open" ><img src='<%= asset_path("page_tab/CQDS_M/Popup/check.png") %>'/></a> 	
	</div>	
</div>

<div id="pop_fail" class="modal_fail" style="display:none;">
	<a href="#" rel="modal:close"><img width="58" height="56" src='<%= asset_path("page_tab/CQDS_M/Popup2/close.png") %>'style="float:right;"/></a>
	<div class="popup2_check">
		<a href="#pop_success" rel="modal:open"><img src='<%= asset_path("page_tab/CQDS_M/Popup2/check.png") %>'/></a> 	
	</div>	
</div>
<div id="pop_success" class="modal_success" style="display:none;">
	<a href="#" rel="modal:close"><img width="58" height="56" 
    src='<%= asset_path("page_tab/CQDS_M/Popup3/close.png") %>'style="float:right;"/></a>
	<div class="name">
	<input type="text" name="Name" style="padding: 2px 2px 2px 2px; width:242px; height:46px; font-size:13pt; ">
	</div>
	<div class="phone">
		<ul class="phone_ul">
				<li class="phone_first"> <input type="text" name="phone1"  onKeyPress="if ((event.keyCode < 48) || (event.keyCode > 57)){event.returnValue = false;};" maxlength="4"> </li> 
				<li class="phone_middle"> <input type="text" name="phone2" onKeyPress="if ((event.keyCode < 48) || (event.keyCode > 57)){event.returnValue = false;};" maxlength="4" style=""> </li>
				<li class="phone_last">   <input type="text" name="phone3"  onKeyPress="if ((event.keyCode < 48) || (event.keyCode > 57)){event.returnValue = false;};" maxlength="4" style=""></li>
		</ul>
	</div>
	<div class="check">
		<ul class="check_ul">
			<li class="check_agree"> 
        <input type="checkbox" class="info_check" value="agree" style="width:18px; height:18px;"> 
      </li>
			<li class="provision">
        <img src='<%= asset_path("page_tab/CQDS_M/Popup3/content.png") %>'/>  
      </li>
		</ul>
	</div>
	<div class="popup3_check">
		<a href="#" rel="modal:close"><img src='<%= asset_path("page_tab/CQDS_M/Popup3/check.png") %>' /></a> 	
	</div>	
</div>