<script type="text/javascript">
  function changeFocus(pos) {
  	if(pos==1) { 
  		document.getElementById("youtube").src="//www.youtube.com/embed/hAa0OTP9eWE?wmode=opaque" ;
  		document.getElementById("youtube_01").src='<%= asset_path("page_tab/CQDS_Mobile/tvcf_c.png") %>' ;
    	document.getElementById("youtube_02").src='<%= asset_path("page_tab/CQDS_Mobile/interview.png") %>' ;
    }
    else if(pos==2) {
    	document.getElementById("youtube").src="//www.youtube.com/embed/lO18Q7qkCRM?wmode=opaque" ;
    	document.getElementById("youtube_01").src='<%= asset_path("page_tab/CQDS_Mobile/tvcf.png") %>' ;
    	document.getElementById("youtube_02").src='<%= asset_path("page_tab/CQDS_Mobile/interview_c.png") %>' ;
  	}
  }
</script>
<style>
.modal_fail {
  opacity:1.0;
  width: 579px; 
  height: 364px;
  display: none;
  background: url('<%= asset_path("page_tab/CQDS_M/Popup/back.png") %>') no-repeat 0 0;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -o-border-radius: 8px;
  -ms-border-radius: 8px;
  border-radius: 8px;
  -webkit-box-shadow: 0 0 10px #000;
  -moz-box-shadow: 0 0 10px #000;
  -o-box-shadow: 0 0 10px #000;
  -ms-box-shadow: 0 0 10px #000;
  box-shadow: 0 0 10px #000;

  /* Double-sized Checkboxes */
  -ms-transform: scale(0.6); /* IE */
  -moz-transform: scale(0.6); /* FF */
  -webkit-transform: scale(0.6); /* Safari and Chrome */
  -o-transform: scale(0.6); /* Opera */
  
 }
 
.modal_start {
  opacity:1.0; 
  width: 579px; 
  height: 537px;
  display: none;
  background: url('<%= asset_path("page_tab/CQDS_M/Popup2/back.png") %>') no-repeat 0 0;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -o-border-radius: 8px;
  -ms-border-radius: 8px;
  border-radius: 8px;
  -webkit-box-shadow: 0 0 10px #000;
  -moz-box-shadow: 0 0 10px #000;
  -o-box-shadow: 0 0 10px #000;
  -ms-box-shadow: 0 0 10px #000;
  box-shadow: 0 0 10px #000;
  /* Double-sized Checkboxes */
  -ms-transform: scale(0.6); /* IE */
  -moz-transform: scale(0.6); /* FF */
  -webkit-transform: scale(0.6); /* Safari and Chrome */
  -o-transform: scale(0.6); /* Opera */
  
 } 
 
.modal_success {
  opacity:1.0; 
  width: 564px; 
  height: 882px;
  display: none;
  background: url('<%= asset_path("page_tab/CQDS_M/Popup3/back.png") %>') no-repeat 0 0;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -o-border-radius: 8px;
  -ms-border-radius: 8px;
  border-radius: 8px;
  -webkit-box-shadow: 0 0 10px #000;
  -moz-box-shadow: 0 0 10px #000;
  -o-box-shadow: 0 0 10px #000;
  -ms-box-shadow: 0 0 10px #000;
  box-shadow: 0 0 10px #000;

  /* Double-sized Checkboxes */
  -ms-transform: scale(0.55); /* IE */
  -moz-transform: scale(0.55); /* FF */
  -webkit-transform: scale(0.55); /* Safari and Chrome */
  -o-transform: scale(0.55); /* Opera */

 }  
 

</style>
<div class="header">
  <%= image_tag "page_tab/CQDS_Mobile/1.png", class: "header" %>
</div>

<div class="mobile2-1">
	<img src='<%= asset_path("page_tab/CQDS_Mobile/2-1.png") %>'/>
</div>
<div class="mobile2-2" style="width: 100%;" >
	<table>
		<tr>
			<td> <img id='youtube_01' src='<%= asset_path("page_tab/CQDS_Mobile/tvcf_c.png") %>' onclick='changeFocus(1)'; style="width: 100%; max-width: 320px;"></td>
			<td> <img id='youtube_02' src='<%= asset_path("page_tab/CQDS_Mobile/interview.png")  %>'onclick='changeFocus(2)' style="width: 100%; max-width: 320px;"</td>
		</tr>
	</table>
</div> 
<div class="mobile2-3">
	<img src='<%= asset_path("page_tab/CQDS_Mobile/2-3.png") %>'/>
</div>
<div style="width: 100%;">
  <div class="mobile3">
		<iframe id="youtube" src="//www.youtube.com/embed/hAa0OTP9eWE?wmode=opaque" frameborder="0" allowfullscreen ></iframe> 
  </div>
</div>


<div class="mobile4-1">
	<img src='<%= asset_path("page_tab/CQDS_Mobile/4-1.png") %>'/>
</div>
<div class="mobile4-2" style="width: 100%;" >
	<table>
		<tr>
			<td>
        <img src='<%= asset_path("page_tab/CQDS_Mobile/4-2-1.png") %>' />
      </td>
			<td> 
        <a href="#" id="event_popup"> 
          <img src='<%= asset_path("page_tab/CQDS_Mobile/4-2-2.png") %>'>
        </a> 
      </td>
			<td> 
        <img src='<%= asset_path("page_tab/CQDS_Mobile/4-2-3.png") %>'>
      </td>
		</tr>
	</table>
</div> 
<div class="mobile4-3">
	<img src='<%= asset_path("page_tab/CQDS_Mobile/4-3.png") %>'/>
</div>
<div class="mobile5">
	<table>
		<tr>
			<td> 
        <a href="<%= download_coloring_path %>" class="coloring">
          <%= image_tag("page_tab/CQDS_Mobile/5-1.png", class:"coloring_link") %>
        </a>
      </td>
			<td>
        <a href="<%= download_bizring_path %>" class="alram">
          <%= image_tag("page_tab/CQDS_Mobile/5-2.png", class:"coloring_link") %>
        </a>
      </td>
		</tr>
	</table>
</div>
<div class="mobile6">
	<img src='<%= asset_path("page_tab/CQDS_Mobile/6.png") %>'/>
</div>


<div id="pop_start" class="modal_start" style="display:none;">
	<a href="#" rel="modal:close">
    <img width="58" height="56" src='<%= asset_path("page_tab/CQDS_M/Popup2/close.png") %>'style="float:right;"/>
  </a>
	<div class="popup2_check">
		<a href="#" id="game_result" >
      <%= image_tag "page_tab/CQDS_M/Popup2/check.png" %>
    </a> 	
	</div>	
</div>

<div id="pop_fail" class="modal_fail" style="display:none;">
	<a href="#" rel="modal:close">
    <img width="58" height="56" src='<%= asset_path("page_tab/CQDS_M/Popup/close.png") %>'style="float:right;">
  </a>
	<div class="popup1_check">
		<a href="#" rel="modal:close" >
      <%= image_tag "page_tab/CQDS_M/Popup/check.png" %>
    </a> 	
	</div>	
</div>

<div id="pop_success" class="modal_success" style="display:none;">
	<a href="#" rel="modal:close">
    <img width="58" height="56" 
    src='<%= asset_path("page_tab/CQDS_M/Popup3/close.png") %>'style="float:right;"/>
  </a>
  <%= simple_form_for @user, html: {id: "edit_winner"} do |f| %>
    <%= f.input :uid, as: :hidden, value: @user.uid %>
    <%= hidden_field_tag :access_token, value: @user.token.access_token unless @user.token.nil? %>
  	<div class="name">
      <%= f.input :name, input_html: {style: "padding: 2px 2px 2px 2px; width:242px; height:46px; font-size:13pt;"}, label: false %>
  	</div>
  	<div class="phone">
  		<ul class="phone_ul">
  				<li class="phone_first"> 
            <input type="text" id="phone1" name="phone1"  onKeyPress="if ((event.keyCode < 48) || (event.keyCode > 57)){event.returnValue = false;};" maxlength="4"> 
          </li> 
  				<li class="phone_middle"> 
            <input type="text" id="phone2" name="phone2" onKeyPress="if ((event.keyCode < 48) || (event.keyCode > 57)){event.returnValue = false;};" maxlength="4" style=""> 
          </li>
  				<li class="phone_last">   
            <input type="text" id="phone3" name="phone3" onKeyPress="if ((event.keyCode < 48) || (event.keyCode > 57)){event.returnValue = false;};" maxlength="4" style="">
          </li>
  		</ul>
  	</div>
  	<div class="check">
  		<ul class="check_ul">
  			<li class="check_agree"> 
          <input type="checkbox" name="user_info_check" class="info_check" value="agree" style="width:18px; height:18px;"> 
        </li>
  			<li class="provision">
          <a href="https://www.crown.co.kr/member/pop_private.asp" target="_blank">
            <%= image_tag("page_tab/CQDS_M/Popup3/content.png") %>
          </a>
        </li>
  		</ul>
  	</div>
  	<div class="popup3_check">
      <%= image_submit_tag("page_tab/CQDS_M/Popup3/check.png", class: "button", id: "winner_submit") %>
  	</div>	
  <% end %>
</div>
<!-- <fb:like href="<%= FACEBOOK_CONFIG[:page_address]%>" colorscheme="light" layout="button_count" action="like" show_faces="false" send="false"></fb:like> -->