<!DOCTYPE html>
<html xmlns:fb="http://ogp.me/ns/fb#" xmlns:og="http://ogp.me/ns#">
<head prefix="og: http://ogp.me/ns#">
  <title>쿠크다스 이벤트</title>
  <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <meta property="fb:app_id"  content="<%= FACEBOOK_CONFIG[:app_id] %>" />
  <meta property="og:type"    content="myapp:myobject" />
  <meta property="og:url"     content="" />
  <meta property="og:title"   content="쿠크다스" />
  <meta property="og:image"   content="" />
</head>
<body id="main">
  <div id="fb-root"></div>
<script type="text/javascript">

var cb = function(response){
  if (response.status === 'connected') {
    event_popup(response);
  } else if (response.status === 'not_authorized') {
    alert('캠페인 참여를 위해 페이스북 로그인이 필요합니다.');
  } else {
    alert('캠페인 참여를 위해 페이스북 로그인이 필요합니다.');
  }
};

function get_game_result(){
  var uid = $("#user_uid").val();
	$.ajax({
		'url':'/game_result.json?uid=' + uid,
		'dataType':'json',
		'data':{},
		'success':function(data){
			if(data.result == true){
				$("#pop_success").modal();
			}else{
				$("#pop_fail").modal();
			}
		}
	});
}
function login(response){
  var uid = response.authResponse.userID;
  var accessToken = response.authResponse.accessToken;
  $("#user_uid").val(uid);
  $("#user_access_token").val(accessToken);
  $("#edit_winner").attr("action", "/users/"+uid);
  $.post( "/users", {uid: uid, access_token: accessToken}, function( data ) {});
  
};

function event_popup(response){
  var uid = response.authResponse.userID;
  var accessToken = response.authResponse.accessToken;
  $("#user_uid").val(uid);
  $("#user_access_token").val(accessToken);
  $("#edit_winner").attr("action", "/users/"+uid);
  $.post( "/users", {uid: uid, access_token: accessToken}, function( data ) {});
  
  $("#pop_start").modal();
};

$(document).ready(function() {
  $.ajaxSetup({ cache: true });
  $.getScript('//connect.facebook.net/ko_KR/all.js', function(){
    FB.init({
      appId      : '<%= FACEBOOK_CONFIG[:app_id] %>',                        // App ID from the app dashboard
      channelUrl : '//<%= FACEBOOK_CONFIG[:domain] %>/channel.html', // Channel file for x-domain comms
      status     : true, // check login status
      cookie     : true, // enable cookies to allow the server to access the session
      xfbml      : true  // parse XFBML
    });
        
    FB.Canvas.setSize();
    FB.Canvas.setAutoGrow();
    
    $('#game_result').bind('click', function(e) {
      e.preventDefault();
      get_game_result();
    });
    
    $('#event_popup').bind('click', function(e) {
      e.preventDefault();
      FB.getLoginStatus(function(response) {
        if (response.status === 'not_authorized') {
          FB.login(cb,{
            scope: 'email, user_birthday, user_photos'
          });
          login(response);
          event_popup(response);
        }else if (response.status === 'connected'){
          login(response)
          event_popup(response);
        }else{
          alert("캠페인에 참여하기 위해서는 페이스북 로그인이 필요합니다.");
        }
      });
    });
  });
  
  $('#edit_winner').submit(function(e){
    e.preventDefault();
  }).validate({
    rules: {
      "user[name]": { required: true },
      user_info_check: { required: true },
    },
    messages: {
      "user[name]": {
        required: "필수",
      },
      user_info_check: {
        required: "필수"
      }
    },
    submitHandler: function (form) {
      var action = $("#edit_winner").attr("action");
      var winner_uid = $("#user_uid").val();
      var winner_name = $("#user_name").val();
      var winner_phone = $("#phone1").val() + "-" + $("#phone2").val() + "-" + $("#phone3").val();
      $.post(action,{
        "user[uid]": winner_uid,
        "user[name]": winner_name,
        "user[phone_number]": winner_phone
      });
      $.modal.close();
    },
  });
});


</script>
<%= yield %>
</body>
</html>
