<!DOCTYPE html>
<html xmlns:fb="http://ogp.me/ns/fb#" xmlns:og="http://ogp.me/ns#">
<head prefix="og: http://ogp.me/ns#">
  <title>쿠크다스 이벤트</title>
  <meta name="viewport" content="width=device-width, user-scalable=no">
  <%= stylesheet_link_tag    "mobile", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "mobile", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <meta name="title" content="쿠크다스 이벤트" />
  <meta name="description" content="Description Here" />
  <link rel="image_src" href="preview-image-here.jpg" />
  <meta property="fb:app_id" content="<%= FACEBOOK_CONFIG[:app_id] %>" />
  <meta property="og:type"   content="myapp:myobject" />
  <meta property="og:url"  content="" />
  <meta property="og:title"  content="쿠크다스 이벤트" />
  <meta property="og:image"  content="" />

</head>
<body id="mobile">
  <div id="fb-root"></div>
<script type="text/javascript">

function verifyUserLikesPage() {
  FB.api("/me/likes/<%= FACEBOOK_CONFIG[:page_id]%>", function(apiResponse){
    if (apiResponse.data && apiResponse.data.length > 0){
      window.location.href = "/mobile?like=true"
    }else{
      window.location.href = "/mobile?like=false"
    }
  });
};


var cb = function(response){
  if (response.status === 'connected') {
    event_popup(response);
  } else if (response.status === 'not_authorized') {
    FB.login(cb,{scope: 'email, publish_stream, user_birthday, user_photos'});
  } else {
    alert('캠페인 참여를 위해 페이스북 로그인이 필요합니다.');
  }
};


function get_game_result(){
  $("#user_name").val("");
  var uid = $("#user_uid").val();
	$.ajax({
		'url':'/game_result.json?uid=' + uid,
		'dataType':'json',
		'data':{},
		'success':function(data){
      // spinner.stop();
			if(data.result == 0){
        if(data.today_limit <= 3){
          $("#pop_fail").modal();
  			}else{
          $("#pop_limit").modal();
  			}
			}else if(data.result == 1){
        $("#pop_success").modal();
      }
		}
	});
}
function login(response){
  FB.api('/me', function(response) {
    var name = response.name;
    $("#user_name").val(name);
  });
  var uid = response.authResponse.userID;
  var accessToken = response.authResponse.accessToken;
  $("#user_uid").val(uid);
  $("#user_access_token").val(accessToken);
  $("#edit_winner").attr("action", "/users/"+uid);
  $.ajax({
    type: "POST",
    url: "/users",
    data: {uid: uid, access_token: accessToken},
    headers: {
      'X-Transaction': 'POST Example',
      'X-CSRF-Token': $('meta[name="csrf-token"]').attr('content')
    },
  });
};

function event_popup(response){
  var opts = {
    lines: 13, // The number of lines to draw
    length: 20, // The length of each line
    width: 10, // The line thickness
    radius: 30, // The radius of the inner circle
    corners: 1, // Corner roundness (0..1)
    rotate: 0, // The rotation offset
    direction: 1, // 1: clockwise, -1: counterclockwise
    color: '#fff', // #rgb or #rrggbb or array of colors
    speed: 1, // Rounds per second
    trail: 60, // Afterglow percentage
    shadow: false, // Whether to render a shadow
    hwaccel: false, // Whether to use hardware acceleration
    className: 'spinner', // The CSS class to assign to the spinner
    zIndex: 29, // The z-index (defaults to 2000000000)
    left: 22 - 60,
    top: 6 - 60
  };
  
  var target = document.getElementById('event_popup');
  var spinner = new Spinner(opts).spin(target);

  $("#user_name").val("");
  var uid = response.authResponse.userID;
  var accessToken = response.authResponse.accessToken;
  $("#user_uid").val(uid);
  $("#user_access_token").val(accessToken);
  $("#edit_winner").attr("action", "/users/"+uid);
  $.ajax({
    type: "POST",
    url: "/users.json",
    data: {uid: uid, access_token: accessToken},
    dataType: "json",
    headers: {
      'X-Transaction': 'POST Example',
      'X-CSRF-Token': $('meta[name="csrf-token"]').attr('content')
    },
    success: function(data){
      spinner.stop();
      var text = "현재 "+data.total_donations+"원 적립";
      $('#total_donations').text(text);
      if(data.today_limit > 3){
        $("#pop_limit").modal();
			}else{
        $("#pop_start").modal();
			}
    }
  });
  
};

function spin(){
  var opts = {
    lines: 13, // The number of lines to draw
    length: 20, // The length of each line
    width: 10, // The line thickness
    radius: 30, // The radius of the inner circle
    corners: 1, // Corner roundness (0..1)
    rotate: 0, // The rotation offset
    direction: 1, // 1: clockwise, -1: counterclockwise
    color: '#000', // #rgb or #rrggbb or array of colors
    speed: 1, // Rounds per second
    trail: 60, // Afterglow percentage
    shadow: false, // Whether to render a shadow
    hwaccel: false, // Whether to use hardware acceleration
    className: 'spinner', // The CSS class to assign to the spinner
    zIndex: 2e9, // The z-index (defaults to 2000000000)
    top: 'auto', // Top position relative to parent in px
    left: 'auto' // Left position relative to parent in px
  };
  var target = document.getElementById('mobile');
  var spinner = new Spinner(opts).spin(target);
};
$(document).ready(function() {
  $.ajaxSetup({ cache: true });
  $.getScript('//connect.facebook.net/ko_KR/all.js', function(){
    FB.init({
      appId      : '<%= FACEBOOK_CONFIG[:app_id] %>',            // App ID from the app dashboard
      channelUrl : '//<%= FACEBOOK_CONFIG[:domain] %>/channel.html', // Channel file for x-domain comms
      status     : true, // check login status
      cookie     : true, // enable cookies to allow the server to access the session
      xfbml      : true  // parse XFBML
    });
    FB.Event.subscribe('edge.create', function(href, widget){
      spin();
      verifyUserLikesPage();
    });
    FB.Event.subscribe('edge.remove', function(href, widget){
      spin();
      verifyUserLikesPage();
    });
    $('#game_result').bind('click', function(e) {
      e.preventDefault();
      get_game_result();
    });
    
    $('#event_popup').bind('click', function(e) {
      e.preventDefault();
      FB.getLoginStatus(function(response) {
        if (response.status === 'not_authorized') {
          FB.login(cb,{
            scope: 'email, user_birthday, user_photos, publish_stream'
          });
          event_popup(response);
        }else if (response.status === 'connected'){
          event_popup(response);
        }else{
          FB.login(cb,{
            scope: 'email, user_birthday, user_photos, publish_stream'
          });
        }
      });
    });
  });
  
  $('#edit_winner').submit(function(e){
    e.preventDefault();
  }).validate({
    rules: {
      "user[name]": { required: true },
      user_info_check: { required: true },
    },
    messages: {
      "user[name]": {
        required: "필수",
      },
      user_info_check: {
        required: "필수"
      }
    },
    submitHandler: function (form) {
      var action = $("#edit_winner").attr("action");
      var winner_uid = $("#user_uid").val();
      var winner_name = $("#user_name").val();
      var winner_phone = $("#phone1").val() + "-" + $("#phone2").val() + "-" + $("#phone3").val();
      $.ajax({
        type: "POST",
        url: action,
        data: {
          "user[uid]": winner_uid,
          "user[name]": winner_name,
          "user[phone_number]": winner_phone
        },
        headers: {
          'X-Transaction': 'POST Example',
          'X-CSRF-Token': $('meta[name="csrf-token"]').attr('content')
        }
      });
      $.modal.close();
      $("#pop_congratulation").modal();
    },
  });
});
</script>
<%= yield %>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-46149688-3', 'minivertising.kr');
  ga('send', 'pageview');

</script>
</body>
</html>
